* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgrey;
}

.btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 13px 75px;
    border: 1px solid #222222;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #fff;
    color: #222222;

}

.btn:hover {
    border-color: #000000;
    background: #f7f7f7;
}

.container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    margin-top: 25rem;

}

.btn1active {
    background-color: #D3D3D3;

}