* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgrey;
    transition: background-color 2s;
}

.btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 13px 75px;
    border: 1px solid #222222;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #fff;
    color: #222222;

}

.btn:hover {
    border-color: #000000;
    background: #f7f7f7;
}

.container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    margin-top: 25rem;

}

.btn1active {
    background-color: #D3D3D3;

}

.reset-btn {

    cursor: pointer;
    margin-left: 54.5rem;
    margin-top: 1rem;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 7px 20px;

}



.close-btn {

    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 7px 20px;
}

.quote-btn {

    cursor: pointer;
    margin-top: 1rem;
    margin-left: 84.5rem;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 7px 20px;
}

.hidden {
    display: none !important;
}

.btn-2 {
    display: inline-block;
    padding-left: 0;
}

.counter-display {
    position: absolute;
    top: 22rem;
    left: 55rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.quotearea {
    position: absolute;
    margin-left: 85.9rem;
    margin-top: 17rem;
    border-style: solid;
    display: flex;

}

.author {}

.quote-text {
    font-size: 30px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;

}